{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>House of Comics</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "landing/hoc/images/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "landing/hoc/images/favicon.ico" %}" type="image/x-icon">

    <!-- Google Font -->
  	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <!-- Bootstrap -->
    <link href="{% static "landing/hoc/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="{% static "landing/hoc/css/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "landing/hoc/css/owl.theme.css" %}" rel="stylesheet">

    <!-- Hover effects -->
    <link href="{% static "landing/hoc/css/ihover.css" %}" rel="stylesheet">

    <!-- Slider -->
    <link href="{% static "landing/hoc/css/revolution-slider.css" %}" rel="stylesheet">
    <link href="{% static "landing/hoc/css/carusel.css" %}" rel="stylesheet">
    <link href="{% static "landing/hoc/css/slick.css" %}" rel="stylesheet">
    <link href="{% static "landing/hoc/css/slick-theme.css" %}" rel="stylesheet">

    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="{% static "landing/hoc/css/Pe-icon-7-stroke.css" %}">

    <!-- Font Awesome -->
    <link href="{% static "landing/hoc/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Check Radios -->
    <link href="{% static "landing/hoc/css/component.css" %}" rel="stylesheet">

    <!-- PrettyPhoto -->
    <link href="{% static "landing/hoc/css/prettyPhoto.css" %}" rel="stylesheet">

    <!-- Style -->
    <link href="{% static "landing/hoc/css/style.css" %}" rel="stylesheet">
	<link href="{% static "landing/hoc/css/animate.css" %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static "landing/hoc/css/responsive.css" %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "landing/hoc/css/normalize.css" %}" />

  <!-- form -->
  <link href="{% static "landing/hoc/css/form.css" %}" rel="stylesheet">
	<script src="{% static "landing/hoc/js/modernizr.custom.js" %}"></script>

  <!-- ribbon -->
  <link href="{% static "landing/hoc/css/3d-corner-ribbons.css" %}" rel="stylesheet" />
</head>

<body>
    <!-- PRELOADER -->
    <div class="spn_hol" style="display: none">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section id="HOME" class="header page">
        <div class="section_overlay">
            <div class="container home-container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="home_text text-center">
                            <!-- TITLE AND DESC -->
							<img src="{% static "landing/hoc/images/hoc-w.png" %}" alt="">
                            <h1>¡BIENVENIDO, ya eres usuario Premium!</h1>
                            <h4>Lleva tus comics favoritos a todas partes..</h4>
                            </div>
                            <div class="download-btn">
                            <!-- BUTTON -->
                            <div class="badges">
			    <a class="badge-link wow fadeInLeft" href="https://play.google.com/store/apps/details?id=com.tmobs.hoc"><img src="{% static "landing/hoc/images/descargar.svg" %}" alt=""></a>
								<a class="badge-link wow fadeInRight" href="http://cm.tmclic.com/1/{{hash}}/"><img src="{% static "landing/hoc/images/online.svg" %}" alt=""></a>

                            </div>
							<div class="text-center">
								<a class="tuor btn wow" href="#FEATURES">Conocé House of Comics Premium<i class="fa fa-angle-down"></i></a>
								</div>
                            </div>

                    </div>
                    <div class="col-md-6">
                        <div class="home-iphone">
                            <img src="{% static "landing/hoc/images/cels.png" %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->

    <!-- =========================
        START PREMIUM FEATURES
    ============================== -->
       <section id="FEATURES" class="page plans">
           <div class="container feature_inner">



                      <div class="row super-top">
                          <div class="col-md-10 col-md-offset-1">
                              <!-- FEATURES SECTION TITLE -->
                              <div class="section_title wow fadeIn text-center" data-wow-duration="1s">
                                  <h2>House of Comics Premium</h2>
                              </div>
                                <h3 class="text-center">Da el salto. Disfruta sin límites.</h3>
                              <!-- END FEATURES SECTION TITLE -->
                          </div>
                      </div>
                      <div class="row super-top">
                          <div class="col-md-4 right_no_padding wow fadeInLeft mt-70" data-wow-duration="1s">
                              <!-- FEATURE -->

                              <div class="left_single_feature">
                                  <!-- ICON -->
                                  <div class="premium-icon"><img width="50" height="50" src="{% static "landing/hoc/images/lock.png" %}" alt=""></div>
                                  <!-- FEATURE HEADING AND DESCRIPTION -->
                                  <h3>Comics Ilimitados</h3>
                                  <p>Accede a todos los cómics, autores y colecciones sin límites.</p>
                              </div>

                              <!-- END SINGLE FEATURE -->


                              <!-- FEATURE -->
                              <div class="left_single_feature">
                                  <!-- ICON -->
                                  <div class="premium-icon"><img width="50" height="50" src="{% static "landing/hoc/images/cloud.png" %}" alt=""></div>

                                  <!-- FEATURE HEADING AND DESCRIPTION -->
                                  <h3>Modo Off line</h3>
                                  <p>Descarga tus comics favoritos y leelos sin conexión.</p>
                              </div>
                              <!-- END SINGLE FEATURE -->


                              <!-- FEATURE -->
                              <div class="left_single_feature">
                                  <!-- ICON -->
                                  <div class="premium-icon"><img width="50" height="50" src="{% static "landing/hoc/images/tools.png" %}" alt=""></div>

                                  <!-- FEATURE HEADING AND DESCRIPTION -->
                                  <h3>customizado</h3>
                                  <p>Ajusta el Reader a tu manera.</p>
                              </div>
                              <!-- END SINGLE FEATURE -->

                          </div>
                          <div class="col-md-4">
                              <div class="feature_iphone">
                                  <!-- FEATURE PHONE IMAGE -->
                                  <img class="wow bounceIn" data-wow-duration="1s" src="{% static "landing/hoc/images/features.png" %}" alt="">
                              </div>
                          </div>
                          <div class="col-md-4 left_no_padding wow fadeInRight mt-70" data-wow-duration="1s">

                              <!-- FEATURE -->
                              <div class="right_single_feature">
                                  <!-- ICON -->
                                  <div class="premium-icon"><img width="50" height="50" src="{% static "landing/hoc/images/screens.png" %}" alt=""></div>

                                  <!-- FEATURE HEADING AND DESCRIPTION -->
                                  <h3>Multi pantalla</h3>
                                  <p>Accede desde todos tus dispositivos de forma simultánea.</p>
                              </div>
                              <!-- END SINGLE FEATURE -->


                              <!-- FEATURE -->
                              <div class="right_single_feature">
                                  <!-- ICON -->
                                  <div class="premium-icon"><img width="50" height="50" src="{% static "landing/hoc/images/hand.png" %}" alt=""></div>

                                  <!-- FEATURE HEADING AND DESCRIPTION -->
                                  <h3>Colaboración</h3>
                                  <p>Contribuye con los autores independientes.</p>
                              </div>
                              <!-- END SINGLE FEATURE -->


                              <!-- FEATURE -->
                              <div class="right_single_feature">
                                  <!-- ICON -->
                                <div class="premium-icon"><img width="50" height="50" src="{% static "landing/hoc/images/plus.png" %}" alt=""></div>

                                  <!-- FEATURE HEADING AND DESCRIPTION -->
                                  <h3>Sé parte de la comunidad House of Comics</h3>
                                  <p>Recibe descuentos, invitaciones a eventos y contenidos exclusivos.</p>
                              </div>
                              <!-- END SINGLE FEATURE -->
                          </div>
                      </div>
                      <div class="col-md-10 col-md-offset-1">
                          <div class="section_title wow fadeIn text-center" data-wow-duration="1s">
                            <div class="">
								<h3>Descargala Ahora</h3>
								<a class="badge-link wow fadeInLeft p-5" href="https://play.google.com/store/apps/details?id=com.tmobs.hoc"><img src="{% static "landing/hoc/images/descargar.svg" %}" class="p-5" alt="" width="200px"></a>
												<a class="badge-link wow fadeInRight p-5" href="http://cm.tmclic.com/1/{{hash}}/"><img src="{% static "landing/hoc/images/online.svg" %}" class="p-5" alt="" width="200px"></a>


                                <p class="cancel mt-10">Cancela cuando quieras</p>
                            </div>
                          </div>
                      </div>
                  </div>
                   </section>
          <!-- End premium Plans-->

<!-- =========================
     FOOTER
============================== -->

<section class="copyright">
    <div class="container">
        <div class="row">
			<div class="col-md-1 col-sm-12 col-xs-12 text-center">
				 <img src="{% static "landing/hoc/images/favicon.png" %}" alt="" width="70px">
			</div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="copy_right_text">
                <!-- COPYRIGHT TEXT-->
                    <p class="mt-10">Copyright &copy; 2019.<br />Todos los derechos reservados.</p>
                </div>
            </div>
            <div class="col-md-1 col-sm-12 col-xs-12">
                <div class="scroll_top float-right">
                    <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- END FOOTER -->

   <!-- Partner Modal -->

  <!-- End Partner Modal -->

<!-- =========================
     SCRIPTS
============================== -->

    <script src="{% static "landing/hoc/js/jquery.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/bootstrap.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/owl.carousel.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.fitvids.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.parallax-1.1.3.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.ajaxchimp.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.ajaxchimp.langs.js" %}"></script>
    <script src="{% static "landing/hoc/js/wow.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/waypoints.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.counterup.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/script.js" %}"></script>
    <script src="{% static "landing/hoc/js/svgcheckbx.js" %}"></script>
    <script src="{% static "landing/hoc/js/revolution.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/form.js" %}"></script>
    <script src="{% static "landing/hoc/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "landing/hoc/js/slick.min.js" %}"></script>
	  <script src="{% static "landing/hoc/js/slick-responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "landing/hoc/js/slick.js" %}"></script>
    <script type="text/javascript" src="{% static "landing/hoc/js/slick-responsive.js" %}"></script>
    <script src="{% static "landing/hoc/js/languages.js" %}"></script>
    <script src="{% static "landing/hoc/js/svgcheckbx.js" %}"></script>

</body>
</html>
{% endspaceless %}
