/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

Carousel base class
.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;

}

.head-banner-caption {
    z-index: 10;
 	padding-bottom: 30px;
    position: absolute;
    right: 15%;
    bottom: 25%;
    left: 15%;
    color: #fff;
    text-align: center;
}
.head-banner-caption h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 60px;
}
