
/*form styles*/
#msform, #log-form {
    text-align: center;
    position: relative;
}

#msform .btn {
  margin: 0 15px;
}

#msform fieldset, #log-form fieldset {
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
    position: relative;
    width: 100%;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea, #log-form input, #log-form textarea, #edit-user input, #add-card input, #mc-form input, #log-form checkbox {
    padding: 12px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 13px;
    height: 50px;
}

#log-form input {
  color:#555 !important
}

#msform input:focus, #msform textarea:focus, #log-form input:focus, #log-form textarea:focus, #edit-user input:focus, #add-card input:focus, #mc-form input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #be1e2d;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

.fullwidth {
  width: 100%;
}

#msform .select-custom, #log-form .select-custom, #add-card .select-custom {
    height: 40px;
    background: transparent;
    color: #ccc;
    margin-bottom: 30px;
}

#msform .select-custom:focus {
  border: 1px solid #be1e2d;
}

#log-form .select-custom:focus {
  border: 1px solid #be1e2d;
}

#mc-form .select-custom:focus {
  border: 1px solid #be1e2d;
}

#add-card .select-custom:focus {
  border: 1px solid #be1e2d;
}

.card-icon {
  color: #fff;
  font-size: 31px;
  margin: 8px;
  float:left;
}

.pos-realtive {
  position: relative;
}

.icon-in {
  position: absolute;
  right: 15px;
    top: 3px;
}

/*buttons*/

.form-footer {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #be1e2d;
}


#msform .action-button {
    width: 100px;
    background: #be1e2d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #be1e2d;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.radio-btn {
  text-align: left;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    margin-top: 0;
    font-weight: normal;
    font-size: 13px;
    color: #dfdfdf;
    margin-bottom: 20px;
}

.fs-select{
  text-align: left;
  color: #FFF;
  font-size: 16px;
  margin-top: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*progressbar*/
#progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 90%;
    height: 2px;
    background: white;
    position: absolute;
    left: -45%;
    top: 20px;
    /*z-index: -1; put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #E51C2F;
    color: #FFF;
}
