.m-dropdown {
  display: block;
}
.m-dropdown .e-button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 2px 10px;
  z-index: 900;
  color: #fff;
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  z-index: 5;
  display: block;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #E51C2F;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.m-dropdown .e-button:after {
  left: 100%;
  margin-left: 2px;
  border-bottom-left-radius: 10px;
}

.m-dropdown .e-button.open {
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.m-dropdown .e-list {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  overflow: hidden;
  z-index: 999;
  border: 1px solid #E51C2F;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}
.m-dropdown .e-list li {
  display: block;

  box-sizing: border-box;
}
.m-dropdown .e-list li:last-child {
  border: none;
}
.m-dropdown .e-list li a {
  padding: 5px 10px;
  float: left;
  text-decoration: none;
  box-sizing: border-box;
}
.m-dropdown .e-list li a:hover {
  background: transparent;

}
.pb-10 {
  padding-bottom: 10px !important;
}
