
/* This Css is for small mobile */

@media (max-width: 767px) {
  .header, .subscribe {
      background: url(../images/home2.jpg);
      background-size: contain;
    background-repeat: repeat-y;
  }
    .logo-home {
      margin-top: 20px;
    }

    .banner-container {
    padding: 5% 20px;
    text-align: center;
  }

  .download-btn {
      margin-top: 20px;
      margin-bottom: 20px
  }


  .home_text p {
    font-size: 16px; }

    .logo {
      text-align: center;
    }

    .home_text, .badges{
        text-align: center;
    }

    .video_area {
    padding-bottom: 30px;
    padding-top: 40px;
    }
    .carousel .item {
    height: 120px;
    }
    .carousel-caption {
    display: none;
    }

    .signup {
      margin-bottom: 20px;
    }

    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .video {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .video-button {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .about_phone img {
        width: 100%;
    }

    .copyright {
      text-align: center;
    }

    .copy_right_text {
      margin-bottom: 30px;
    }

    .ac-custom li {
      display: list-item;
    text-align: left;
    float: none;
    padding: 20px 0;
    }

    .ih-item img {
    width: 100px;
    height: auto;
    }

    .scroll_top {
    margin-top: 30px;
    text-align: center;
    }

    .turkin {
    position: static;
    /* left: 250px; */
    /* top: -100px; */
    z-index: 1000;
    text-align: center;
    display: none;
    }

    .home-turkin {
      display:none;
    }

    .scroll_top a {
      float: none !important;
      text-align: center;
    }

    #progressbar li {
      text-align: center;
    }
    #msform .btn {
      margin: 15px !important;
    }
    .back-form {
    min-height: 700px;
    }

    .tuor {
      margin-left: 0;
      margin-top: 15px;
    }
    .home_menu, .home-language {
      display: none;
    }

    .nav-search {
      display: none;
    }

    .navbar-default .navbar-form {
    border: none;
    margin-left: 0px;
    }

    .navbar-nav .open .dropdown-menu {
      position: relative;
    }

    .ih-item.square.effect6 {
    margin-bottom: 30px;
    }

    .social_icons ul {
    text-align: left;
    margin-top: 20px;
    }

    .comic-button, .fluid-width-video-wrapper {
      text-align: center;
    }

}
/* This Css is for tablet */

@media (min-width: 760px) {

    .carousel .item {
    height: 300px;
    }

    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .video {
        padding-top: 50px;
    }

    .ih-item img {
    width: 120px;
    height: auto;
    }

    .signup {
    margin-bottom: 20px;
    min-height: 510px;
    }

    .turkin {
    position: static;
    /* left: 250px; */
    /* top: -100px; */
    z-index: 1000;
    text-align: center;
    }

	.scroll_top {
		float: right !important;
	}

}
/* This Css is for Medium Deviced */

@media (min-width: 992px) {

      .carousel .item {
      height: 350px;
      background-color: #777;
    }
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
        margin-top: 1%;
    }
    .single_fun_facts {
        padding-bottom: 0px;
    }
    .video {
        padding-top: 00px;
    }

    .mt-70 {
      margin-top: 70px;
    }

    .ih-item img {
    width: 120px;
    height: auto;
    }

    .turkin {
    position: absolute;
    left: 170px;
    top: -100px;
    z-index: 1000;
    text-align: center;
  }

  .home_text p {
    display: block;
    width: 90%
  }


/*	.image-adjust {
    position: relative;
    bottom: -53px;
	}*/
}
@media (min-width: 992px) and (max-width: 1199px){
  .carousel .item {
  height: 400px;
}

  .ih-item img {
  width: 130px;
  height: auto;
}

}
/* This Css is for large Deviced */

@media (min-width: 1200px) {
      .carousel .item {
      height: 550px;
    }

    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .video {
        padding-top: 0px;
    }

    .ih-item img {
    width: 230px;
    height: auto;
	}

  .home-turkin {
    position: absolute;
    left: -90px;
    top: -100px;
    z-index: 100;
  }

  .turkin {
    position: absolute;
    left: -90px;
    top: 0px;
    z-index: 100;
  }

  .super-top {
    margin-top: 100px;
  }

  .super-padding {
    padding-top: 220px;
  }
}

.w100 {
  width: 100% !important
}
