/*
Theme Name: Bent
Author: Allie
Version: 1.0
URL: http://designscrazed.org/
*/

/* Table of Content
==================================================
  1. COMMON STYLES
  2. SECTION HOME
  3. SECTION ABOUT
  4. SECTION VIDEO
  5. SECTION TESTIMONIAL
  6. SECTION FEATURES
  7. SECTION CALL TO ACTION
  8. SECTION APPS SCREEN
  9. SECTION FUN FACTS
  10. SECTION DOWNLOAD
  11. SECTION CONTACT
  12. SECTION SUBSCRIBE
  13. SECTION FOOTER

*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*---------------------------------------
   COMMON STYLES
-----------------------------------------*/

.navbar-fixed-top {
	background-color: rgba(0, 0, 0, .9) !important;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#1E1E1E;
}

.section_title {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section_title-sm {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_title h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
}
.section_title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 160px;
    height: 1px;
    background-color: #54c5ff;
    left: 50%;
    margin-left: -80px;
	font-weight: 700;
}
.section_title p {
    text-align: center;
    margin-top: 45px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-20 {
  margin-left: 20 !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-0 {
margin-bottom: 0 !important
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pl-0 {
  padding-left: 0;
}

.p-5 {
  padding: 10px;
}

.w100 {
  width: 100% !important;
}

.black {
  color: #343434;
}

.white {
  color: #FFF !important
}

.d-block {
  display: block !important;
}

.red {
  color: #54c5ff !important;
}

.item img {
  opacity: 0.8 !important;
}

.btn-primary  {
    color: #fff;
    background-color: #54c5ff;
    border-color: #54c5ff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-primary:hover {
    color: #fff;
    background-color: #47a8da;
    border-color: #47a8da;
}

.form-group a {
   text-decoration: none;
   font-weight:500;
    color: #54c5ff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.form-group a:hover {
  color: #47a8da;
}

.auto-height {
  height: -webkit-fill-available;
}

.copyright-fixed {
  position: fixed;
bottom: 0;
width: 100%;
}

.input-error {
  border: 1px solid #54c5ff;
}

/*---------------------------------------
   SECTION HOME
-----------------------------------------*/
.language-select-container {
	position: absolute;
	top:10px;
	right: 10px;
}

#language-select{
	background-color: #FFF;
	font-size: 10px;
	border: none;
	color: black;
}

/*menu*/

.home_menu {
  position: absolute;
  top: 20px;
  right: 20px;
  float: right;
  z-index: 100;
}

.home-language {
  position: absolute;
  float: left;
  left: 20px;
  top: 20px;
}

/*.home-language li {
  display: inline-block;
  margin-right: 20px;
}*/


.header h2 {
    height: 0px;
    margin: 0px;
}
.navbar {
    margin-top: -100px
}
.navbar-brand {
    padding: 9px 15px;
}
    .navbar-default {
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        color: #B5B5B5;
        font-family: 'Roboto', sans-serif;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #54c5ff;
    }
    .navbar-default .navbar-nav>li>a:focus {
        color: #B5B5B5;
    }
    .navbar-default {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        z-index: 110;
    }
    .navbar-brand img {
        padding-top: 25px;
        height: 45px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .navbar-default .navbar-nav>li>a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        padding-top: 15px !important;
        font-size: 14px;
    }
    /*.navbar-nav>li>a {
        padding-top: 45px;
    }*/

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #000;
    color: #54c5ff;
    }

    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #212121;
    }

.navbar-form .input-group .form-control {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid white;
  border-right: none;
  background-color: transparent;
  color: white;
}

.inline-flex {
  display:inline-flex;
}

.badges .badge-link {
	display:inline-block;
	margin:10px
}

.badges .badge-link:last-child {
	margin-bottom:0
}

.badges .badge-link img {
	height: 40px
}

@media (min-width:768px){section.download .badges .badge-link{display:inline-block;margin:15px}}

.btn-search {
  background: #FFF !important;
  border: 1px solid #FFF !important;
  color: #54c5ff !important;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.navbar input {
  border: none;
}

.btn-search:hover {
    background: #FFF;
    border-color: #FFF;
    color:#54c5ff;
    opacity: .8;
}

.d-inline {
  display: inline-block !important;
}

.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, .9) !important;
    margin-top: 0;
    box-shadow: none;
    right: 0;
    left: auto;
    border: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    line-height: 1.8;
    color: #B5B5B5;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #54c5ff;
    background-color: rgba(0, 0, 0, .9) !important;
}

a.user-profile.dropdown-toggle i {
  font-size: 20px;
}

.open {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}


@media (max-width: 768px) {
    .navbar-brand img {} .navbar-default {
      /*  background-color: #fff !important; */
    }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #54c5ff;
}
.header {
    background: url(../images/home3.jpg);
    background-size: cover;
	background-repeat: no-repeat;
}

.banner {
    background: url(../images/home3.jpg);
    background-size: cover;
	background-repeat: no-repeat;
  height: 400px;
}

.banner-container {
  padding: 5% 0;
}


.header .section_overlay, .banner .section_overlay {
    background-color: rgba(33, 33, 33, .75);
}

.banner .section_overlay {
    height: inherit;
}

.logo{
    padding-top: 30px;
}

.home_text{
    top: 20%;
}

.home_text img {
	max-width: 300px;
}

.carousel .item {
    background-color: transparent !important;
}

.home-iphone{
    text-align: center;
	position: relative;
}
.home-iphone img{
    width: 600px;
}

@media (max-width: 768px){
    .home-iphone{
        display: none;
    }
    .home_text{
        text-align: center;
    }

}
.home_text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 30px;
    text-shadow: 1px 1px 10px #000;
}
.home_text h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 38px;
  padding-top: 0px;
  text-shadow: 1px 1px 10px #000;
}

.home_text h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  padding-top: 0px;
  text-shadow: 1px 1px 10px #000;
}

.home_text p {
    color: #fff;
    font-size: px;
    line-height: 32px;
    margin-top: 0px;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
}
.download-btn {
    margin-top: 30px;
    margin-bottom: 30px;
	text-align:center;
}
.home-btn,
.home-btn:focus,
.home-btn:active,
.home-btn:visited {
    background: #54c5ff;
    border-color: #54c5ff;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.home-btn:hover {
    background-color: #47a8da;
    border-color: #47a8da;
    color: #fff;
}
.tuor,
.tuor:focus,
tuor:active,
tuor:visited {
    color: #A9ADB0;
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-top: 30px;
}
.tuor:hover {
    color: #fff;
}
.tuor i {
    font-size: 20px;
    padding-left: 5px;
    color: #54c5ff;
}


/*---------------------------------------
   SLIDER
-----------------------------------------*/

.main-slider{
	position:relative;
	z-index:10;
}

.main-slider .mouse-btn-down{
	position:absolute;
	left:50%;
	margin-left:-20px;
	bottom:40px;
	width:40px;
	height:40px;
	cursor:pointer;
	display:block;
	background:url(../images/icons/mouse-icon.png) center center no-repeat;
	z-index:20;
}

.main-slider .tp-dottedoverlay{
	background:none !important;
}

.main-slider .overlay-slide{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	background-color:rgba(0,0,0,0.20) !important;
}

.main-slider .tp-caption{
	z-index:5 !important;
}

.main-slider .tp-caption .theme-btn{
	border-width:2px !important;
}

.main-slider .text{
	position:relative;
	color:#ffffff;
	font-size:20px;
	line-height:1.8em;
	font-weight:400;
}

.main-slider .styled-text{
	position:relative;
	color:#ffffff;
	font-size:36px;
	font-weight:300;
	font-style:italic;
	line-height:1.8em;
	font-family: 'Lobster Two', cursive;
}

.main-slider h2{
	position:relative;
	color:#ffffff;
	font-weight:700;
	line-height:1.1em;
	text-transform:none;
	font-size: 82px;
}

.main-slider h3{
	position:relative;
	font-weight:700;
	font-size:72px;
	color:#ffffff;
	font-family: 'vibebangfont_regular', sans-serif;
}

.main-slider .tp-bullets,
.main-slider .tp-bannertimer{
	display:none !important;
}

#id_search {
  border: 1px solid white;
  border-right: none;
  background-color: transparent;
  height: 52px;
  color: white;
}

/*---------------------------------------
   SECTION ABOUT
-----------------------------------------*/
.home_bg {
    height: 732px;
    position: relative;
}

.plans {
  background: #e4e4e4;
  padding-bottom: 30px;
}

.turkin-container {
  position: relative;
}

.turkin {
  position: absolute;
    left: 250px;
    top: -100px;
    z-index: 100;
}

.turkin img, .home-turkin img {
  width: 360px;
}


.about {
    background: #F1F1F1;
}
.inner_about_area {
    padding-top: 50px;
}
.inner_about_title {
    padding-bottom: 50px;
}
.inner_about_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.inner_about_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #54c5ff;
    height: 1px;
}
.inner_about_title p {
    font-size: 19px;
    line-height: 24px;
    margin-top: 40px;
}
.inner_about_desc {} .single_about_area {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.single_about_area div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area div i {
    font-size: 55px;
    color: #BABABA;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.signup {
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
}

.signup h3 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
}

.signup img {
	margin: 20px auto;
	width: 150px;
	height: auto;
	max-width: 150px;

}

.signup .price {
  color: #54c5ff;
  font-weight: 800;
  font-size: 20px;
}
.signup p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.erre {
  width: 130px !important;
  display: block;
  margin: 30px auto;
}

.signup .payment {
  font-size: 10px;
}

.single_about_area p {
    color: #727272;
    font-size: 15px;
}
.single_about_area:hover div i {
    color: #54c5ff;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .about_phone img {
        margin-top: 138px;
        /*width: 80%;*/
        margin-right: 20%
    }
}
/* --------------------------------------
    Carrouseles
-----------------------------------------*/



.carrouseles {
    background: #f1f1f1;
    padding-bottom: 100px;
    padding-top: 0px;
}

.carrouseles .container {
  width: 95%;
}


/*---------------------------------------
   SECTION COMIC / PROFILE
-----------------------------------------*/

.video_area {
    background: #e4e4e4;
    padding-bottom: 100px;
    padding-top: 100px;
}

.profile_area {
    background: #f1f1f1;
    padding-bottom: 140px;
    padding-top: 120px;
}

.profile-box {
  background: white;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
}

.profile-box i {
  font-size: 24px;
}

.device-list {
  padding: 20px 0;
  border-top: 1px solid #9D9C9D;

}

.device-list p {
  font-size: 18px;
}

.home_menu_left {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.btn-video, .btn-video:active, .btn-video:focus, .btn-video:visited {
    background: transparent;
    border: 1px solid #929292;
    color: #686868;
    border-radius: 3px;
    padding: 12px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-video:hover {
    background: #54c5ff;
    color: #fff;
    border: 1px solid #54c5ff;
}

.btn-add {
  font-size: 18px;
}

.comic_title {
    padding-bottom: 30px;
}
.comic_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    margin-top: 0px;
}
.comic_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #54c5ff;
    height: 1px;
}
.comic-description h4 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 20px;
    color: #333;
    font-weight: 500;
}

.comic-description p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: #333;
    font-weight: 300;
}

.comic-button {
  padding: 30px 0;
}

.comic-button span {
  font-size: 30px;
}

.fav-add {
  display: inline-block;
}

.fav-add i {
  padding-top: 10px;
}

.fav-add a {
  color: #54c5ff;
  font-size: 26px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.fav-add a:hover {
    color: #47a8da;

}

.author-box {
  border-top: 1px solid #9D9C9D;
  padding: 30px 0;
}

.author-box .comic-description {
margin-top: 15px;
}

.autor-avatar img {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 160px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_trash {
  text-align:center;
  }

.single_trash i {
    color: #54c5ff;
    font-size: 20px;
    padding-top: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.single_trash i:hover {
    color: #47a8da;
}

.social_icons li.label {
  color:#333;
  font-size: 14px;
  font-weight: 300;
}

.text-right {
    text-align: right !important;
}

.comic_title .star-rating i {
  font-size: 18px;
}

.video {} .video iframe {
    width: 100%;
    border: 1px solid #999999;
    padding: 5px;
}
/*-------------------------------------
  AUTHOR page
---------------------------------------*/

.author-cover img {
  width: 100%;
  border-radius: 50%
}

/*--------------------------------------
  SEARCH results
  -------------------------------------*/

  .info-results {
    background: white;
    position: absolute;
    top: 0;
    left: -15px;
    padding-left: 15px;
    width: 100%;
    height: 177px;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .author-results {
    background: white;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
  }

  .author-results img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
  }


/*---------------------------------------
   SECTION TESTIMONIAL
-----------------------------------------*/

#owl-demo .item {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.testimonial {
    background: url(../images/testimonial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial .section_overlay {
    background: rgba(0, 0, 0, .6);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -8px;
}
.carousel-inner {
    background-color: black;
}
.testimonial_caption {
    padding-bottom: 70px;
}
.testimonial_caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
.testimonial_caption h2 {
    color: #54c5ff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial_caption h4 {
    color: #54c5ff
}
.testimonial_caption h4 span {
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}
.testimonial ol.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #54c5ff;
    margin: 1PX
}
.testimonial ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border: 0px solid #54c5ff;
    background: #54c5ff;
}
/*---------------------------------------
   SECTION FEATURES
-----------------------------------------*/

.features {
    background-color: #f1f1f1
}
.feature_inner {
    padding-top: 30px;
    padding-bottom: 40px;
}
.feature_iphone {} .feature_iphone img {
    width: 100%;
}
.right_single_feature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
}
.right_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #54c5ff;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -20px;
}
.right_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
}
.right_single_feature h3 span {
    color: #54c5ff;
}
.right_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
/*left feature*/

.left_single_feature {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #54c5ff;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -20px;
}
.left_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
}
.left_single_feature h3 span {
    color: #54c5ff;
}
.left_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.right_no_padding {
    padding-left: 15px;
}
.left_no_padding {
    padding-right: 15px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .right_single_feature {
        margin-left: -60px;
    }
    .left_single_feature {
        margin-right: -60px;
    }
    .right_single_feature h3,
    .left_single_feature h3 {
        margin-top: 0px;
    }
}


/*---------------------------------------
   SECTION CALL TO ACTION
-----------------------------------------*/

.call_to_action {
    background-color: #FFF;
    color: #1a1a1a;
    padding-top: 50px;
    padding-bottom: 50px;
}
.call_to_action h2 {
  margin-top: 0;
  color: #1a1a1a;
}

.call_to_action p {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 300;
}
.call_to_action a {} .btn-action,
.btn-action:active,
.btn-action:focus,
.btn-action:visited {
    background: #54c5ff;
    border: 1px solid #54c5ff;
    color: #fff !important;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn-action:hover {
    background: #47a8da;
    border-color: #47a8da;
}

.btn-back,
.btn-back:active,
.btn-back:focus,
.btn-back:visited {
    background: transparent;
    border: 1px solid #54c5ff;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn-back:hover {
    color:#B5b5b5;
    background: transparent;
    border-color: #47a8da;
}

.btn-search {
  background: #FFF;
  border: 1px solid #FFF;
  color: #54c5ff !important;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}


.btn-search:hover {
    background: #FFF;
    border-color: #FFF;
    color:#54c5ff;
    opacity: .8;
}

.btn-fb {
  background: #4267b2 !important;
  border: 1px solid #4267b2 !important;
  display: block;
}

.btn-fb:hover {
  background: #365899 !important;
  border: 1px solid #365899 !important;
}

.btn-sm {
  padding: 8px 16px !important;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

/*---------------------------------------
   SECTION APPS SCREEN
-----------------------------------------*/

.apps_screen {
    background: #f1f1f1;
    padding-bottom: 96px;
}
.screen_slider {
    padding-top: 50px;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #54c5ff;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    background: #54c5ff;
}
/*---------------------------------------
   SECTION FUN FACTS
-----------------------------------------*/

.fun_facts {
    background: url(../images/fun_bg.jpg) no-repeat center;
    background-size: cover;
}
.fun_facts .section_overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, .4);
}
.single_fun_facts {
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts i {
    color: #54c5ff;
    font-size: 60px;
    ;
}
.single_fun_facts h2 {
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts h2 span {
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
/*---------------------------------------
   SECTION DOWNLOAD
-----------------------------------------*/

.download_screen {
    padding-top: 45px;
}
.download_screen img {
    width: 100%
}
.available_store {
    background: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available_title {
    padding-top: 45px;
}
.available_title h2 {
    color: #fff;
    font-size: 30px;
}
.available_title p {
    color: #B5B5B5;
}
.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 160px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_store i {
    color: #54c5ff;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 60px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner {
    position: absolute;
    bottom: 60px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner h2 {
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
}
.single_store:hover {
    background: #121212;
}
.single_store:hover i {
    opacity: 0;
}
.single_store:hover div.store_inner {
    opacity: 1;
}
.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}
.last {
    border-right: 1px solid #0F1217;
}

.badges {
  margin-bottom: 10px;
}

.badges .badge-link {
    display: inline-block;
    margin: 10px;
}


.badges .badge-link img {
    height: 70px;
    opacity: .80;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.badges .badge-link img:hover {
    opacity: 1;
}

/*---------------------------------------
   SECTION CONTACT
-----------------------------------------*/

.contact {
    background: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_form {
    padding-top: 30px;
}
.contact_form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    background-image: none;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;

}
.contact_form .form-control:focus {
    border: 1px solid #54c5ff;
    border-color: #54c5ff;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
}
.contact_form {} .form-control:-webkit-input-placeholder {
    color: red;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */

    color: red;
}
.form-control:-moz-placeholder {
    /* Firefox 19+ */

    color: red;
}
.form-control:-ms-input-placeholder {
    color: red;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: transparent;
    border: 1px solid #54c5ff;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #54c5ff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}
.submit-btn:hover {
    background-color: #54c5ff;
    color: #fff;
    border-color: #54c5ff;
}
.social_icons {
  display: inline-block;

}
.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
.social_icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px
}
.social_icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social_icons ul li a i {
    font-size: 20px;
}
.social_icons ul li a:hover {
    background: #54c5ff;
    border: 1px solid #54c5ff;
    color: #fff
}
.error {
    color: #54c5ff;
    display: block;
    padding-bottom: 15px;
    font-size: 18px
}
.error i {
    padding-right: 10px;
    font-size: 18px
}
.Sucess {
    color: #4DB849;
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
.Sucess i {
    padding-right: 10px;
    font-size: 18px;
    color: #4DB849
}
.contact_form .form-control {
    color: #3d3d3d;
}
#message {
    height: 117px;
    resize: none;
}

.brand-subscribe-button {
  border-top: 1px solid #9D9C9D;
  padding-bottom: 20px;
}
/*---------------------------------------
   SECTION SUBSCRIBE
-----------------------------------------*/

.back-form {
  background-color: rgba(33, 33, 33, .9);
  padding: 30px;
  border-radius: 5px;
  min-height: 600px;
}

.modal-dialog {
  max-width: 450px;
}

.back-modal {
  background-color: rgba(33, 33, 33, .9);
  padding: 30px;
  border-radius: 5px;
}

.subscribe {
    background-image: url(../images/home3.jpg);
    background-size: cover;
    background-repeat:repeat-y;
    background-position: center;
}
.subscribe .section_overlay {
    padding-bottom: 70px;
    background-color: rgba(33, 33, 33, .75);
}
.subscribe .section_title h2{
	color: #eaeaea;
}
.subscribe .section_title p{
	color: #a4a4a4;
}
.subscribe_form {
    text-align: center;
    padding-top: 30px;
}
.subscribe_form .form-group {} .subscribe_form .form-control {
    background: transparent;
    border: 3px solid #a4a4a4;
    border-radius: 3px;
    height: 45px;
    color: #FFF;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
	text-align: center;
	font-size: 1.5em;
}

.mar-10 {
	margin: 0 10px;
}
.subscribe_form .form-control:focus {
    background: transparent;
    /*border-bottom: 1px solid #f1f1f1;*/
    box-shadow: none;
	color: #54c5ff;
}
.subs-btn,
.subs-btn:active,
.subs-btn:focus,
.subs-btn:visited {
    width: 200px;
    background: transparent;
    border: 1px solid #54c5ff;
    border-radius: 4px;
    height: 45px;
    margin-left: 0px;
    margin-bottom: 1px;
    color: #54c5ff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}
.subs-btn:hover {
    background-color: #54c5ff;
    color: #fff;
    border-color: #54c5ff;
}
@media (min-width: 300px) {
    .subscribe_form .form-control {
        width: 100%
    }
}
.subscription-success {
    color: #fff;
    text-align: center;
    font-size: 20px;
	margin-top: 40px;
}
.subscription-error {
    color: #54c5ff;
    text-align: center;
    font-size: 20px;
	margin-top: 40px;
}

.logo-ed {
  padding: 15px;
  text-align: center;
  opacity: .5;
}
/*---------------------------------------
   SECTION FOOTER
-----------------------------------------*/

.copyright {
    background-color: #1a1a1a;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 3px solid #54c5ff;
}
.copyright h2 {
    height: 0px;
    margin: 0px;
}

.copyright .badge-link img {
  width: 100px;
  height:auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

.copy_right_text p {
    color: #DFDFDF;
    text-transform: uppercase;
    font-size: 15px;
}
.copy_right_text p a {
    text-decoration: none;
    color: #54c5ff;
}
.copy_right_text p span {
    font-weight: 300;
}
.scroll_top {
    text-align: right;
}
.scroll_top a {
    background: #54c5ff;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    float: right;
    border-radius: 25px;
}
.scroll_top a i {
    color: #fff;
    font-size: 25px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: red;
    background-image: none;
    color: rgb(0, 0, 0);
}
.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 50000;
    opacity: 1;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #54c5ff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
	}
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*---------------------------------------
   MODALS
-----------------------------------------*/

.modal-header, .modal-footer {
  border: none
}

.modal-footer {
  margin-top: 0;
  text-align: center !important;
}

.modal-body {
padding-top: 0;
}

.modal-content {
  color: #FFF;
  padding: 0;
  border: none;
}

.modal-content .modal-title {
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
}

.modal-content .form-group {
  margin: 20px 0;
}

.modal-content a {
text-decoration: none;
margin: 0;
}

.modal-content .alert-danger {
    color: #bf725b;
    background-color: rgba(251, 150, 120, 0.2);
    border-color: #e78a6e;
}

.login-modal h4{
  color: #FFF;
  padding: 10px 0;
}

.modal-content .tuor {
  font-size: 14px;
  text-transform: lowercase;
}

.password-link {
  margin: 20px 0;
}

.modal-content .alert {
  margin-bottom: 0;
}

#partner-form ul {
  text-decoration: none;

}
